<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head th:include="layout :: htmlhead(pageTitle='任务流水')" ></head>
<link rel="stylesheet" type="text/css" href="/css/formSelects-v4.css"/>


<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body">
        <div class="search-pane">
            <form id="userSearch" class="layui-form layui-form-pane" method="post">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">任务库ID</label>
                        <div class="layui-input-inline">
                            <input id="taskSourceId" name="taskSourceId" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">hashKey</label>
                        <div class="layui-input-inline">
                            <input id="hashKey" name="hashKey" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">事件</label>
                        <div class="layui-input-inline">
                            <select name="event" id="event">
                                <option value="-1">请选择</option>
                                <option value="1">生成任务入池</option>
                                <option value="2">缓冲区入池</option>
                                <option value="3">出池</option>
                                <option value="4">返回结果成功</option>
                                <option value="5">返回结果失败</option>
                                <option value="6">重新生成任务入池</option>
                                <option value="7">任务超时结果强制失败</option>
                                <option value="8">池满，低优先级出池</option>
                                <option value="9">手工生成任务</option>
                                <option value="10">手工入池</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">店铺代号</label>
                        <div class="layui-input-inline">
                            <select name="account" id="accountSearch" xm-select-height="36px" xm-select="accountSearch"
                                    xm-select-search="" xm-select-search-type="dl">
                                <option value="">请选择, 可多选</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">任务类型</label>
                        <div class="layui-input-inline">
                            <select name="taskName" id="taskNameSearch" xm-select="taskNameSearch" xm-select-search=""
                                    xm-select-search-type="dl" xm-select-height="36px">
                                <option value="">请选择, 可多选</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">执行平台</label>
                        <div class="layui-input-inline">
                            <select name="platform" id="platform" xm-select="platform"
                                    xm-select-search="" xm-select-search-type="dl" xm-select-radio>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">远程连接IP</label>
                        <div class="layui-input-inline">
                            <input id="remoteIP" name="remoteIP" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">代理IP</label>
                        <div class="layui-input-inline">
                            <input id="proxyIP" name="proxyIP" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">事件日期</label>
                        <div class="layui-input-inline">
                            <input id="startTime" name="startTime" autocomplete="off" class="layui-input" type="text"
                                   placeholder="开始时间"/>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width:auto">
                            <div class="layui-form-mid" style="margin-right:0">-</div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input id="endTime" name="endTime" autocomplete="off" class="layui-input" type="text"
                                   placeholder="结束时间"/>
                        </div>
                    </div>
                </div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn" lay-submit="" lay-filter="searchSubmit">提交</button>
            </form>
        </div>

        <div class="table-pane">
            <form class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">心跳统计</label>
                        <div class="layui-input-inline">
                            <input id="heartBeatStatDate" name="heartBeatStatDate" autocomplete="off"
                                   class="layui-input"
                                   type="text" placeholder=""/>
                        </div>
                        <a id="heartBeatStat" class="layui-btn layui-btn-primary">下载</a>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">任务成功率</label>
                        <div class="layui-input-inline">
                            <input id="taskSuccessStatDate" name="taskSuccessStatDate" autocomplete="off"
                                   class="layui-input"
                                   type="text" placeholder=""/>
                        </div>
                        <a id="taskSuccessStat" class="layui-btn layui-btn-primary">下载</a>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">任务失败原因</label>
                        <div class="layui-input-inline">
                            <input id="taskFailureReasonStatDate" name="taskFailureReasonStatDate" autocomplete="off"
                                   class="layui-input" type="text" placeholder=""/>
                        </div>
                        <a id="taskFailureReasonStat" class="layui-btn layui-btn-primary">下载</a>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">大洲帐号任务</label>
                        <div class="layui-input-inline">
                            <input id="continentAccountTaskStatDate" name="continentAccountTaskStatDate"
                                   autocomplete="off"
                                   class="layui-input" type="text" placeholder=""/>
                        </div>
                        <a id="continentAccountTaskStat" class="layui-btn layui-btn-primary">下载</a>
                    </div>
                </div>
            </form>
            <table id="taskLogsTable" lay-filter="taskLogsTable"></table>
        </div>

    </div>


    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/task/taskLogs.js"></script>
    <script src="/js/nav_href.js"></script>

    <style type="text/css">
        .layui-table-cell {
            height: auto;
            /*overflow: visible;*/
        }
        .layui-table-view .layui-table-body{min-height: 300px;}
        .table-overlay .layui-table-cell {
            overflow: visible;
        }
    </style>
</div>
</body>
</html>















