<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod=" 5 seconds">
    <jmxConfigurator />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/app/app.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/app/%d{yyyy-MM-dd}/app-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CENTER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/default.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_core-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="MONITOR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/monitor.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_monitor-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="RESULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/result_job.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_result_job-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <appender name="GET_JOB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/get_job.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_get_job-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ASYNCPUSH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/push_result.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_push_result-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <appender name="TASKLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/task_log.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_task_log-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>


    <appender name="MACHINEHEARTBEATLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/machine_heartbeat.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_machine_heartbeat-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CENTER-ERROR" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>core</Key>
            <DefaultValue>core</DefaultValue>
        </discriminator>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <sift>
            <appender name="FILE-adapter" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>../logs/error.log</File>
                <rollingPolicy
                        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_core_error-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>7</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="FALLBACK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/fallback.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_FallBack-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CLIENTREQUEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/client_request.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_client_request-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CLIENTACTION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/client_action.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_client_action-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CLIENTJOB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/client_job.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/%d{yyyy-MM-dd}/dispatch_center_client_job-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.sailvan.dispatchcenter.core.monitor" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="MONITOR" />
    </logger>
    <logger name="com.sailvan.dispatchcenter.core.controller.FallBackCommand" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FALLBACK" />
    </logger>
    <logger name="com.sailvan.dispatchcenter.core.controller.ClientResultController" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RESULT" />
    </logger>
    <logger name="com.sailvan.dispatchcenter.core.controller.ClientGetJobController" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="GET_JOB" />
    </logger>
    <logger name="com.sailvan.dispatchcenter.core.async.AsyncPushTask" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNCPUSH" />
    </logger>
    <logger name="com.sailvan.dispatchcenter.core.log.TaskLogsPrintUtil" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="TASKLOG" />
    </logger>
    <logger name="com.sailvan.dispatchcenter.core.log.MachineHeartbeatLogsPrintUtils" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="MACHINEHEARTBEATLOG" />
    </logger>
    <logger name="com.sailvan.dispatchcenter.core" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="CENTER" />
        <appender-ref ref="CENTER-ERROR" />
    </logger>
    <logger name="com.sailvan.dispatchcenter.core.log.ClientRequestLogsPrintUtil" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="CLIENTREQUEST" />
    </logger>
    <logger name="com.sailvan.dispatchcenter.core.log.ClientActionLogsPrintUtil" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="CLIENTACTION" />
    </logger>
    <logger name="com.sailvan.dispatchcenter.core.log.ClientJobLogsPrintUtil" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="CLIENTJOB" />
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
        <appender-ref ref="CENTER-ERROR" />
    </root>
</configuration>
